fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
python-dotenv==1.1.1
pyannote.audio==3.3.2
huggingface_hub==0.23.5
torch==2.2.2
torchaudio==2.2.2
soundfile==0.13.1
numpy==1.26.4
matplotlib==3.10.3
